#cloud-config
hostname: vm-k3s
timezone: Europe/Bucharest
# Critical for Arch/Debian to avoid sudo "unable to resolve host" errors
manage_etc_hosts: true
users:
  - name: k3suser
    # Included both: Debian uses 'sudo', Arch uses 'wheel'
    groups: [sudo, wheel]
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_public_key}
    # Add the sudo rule here as a list/array
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
package_update: true
package_upgrade: false
packages:
  - qemu-guest-agent
  - htop
runcmd:
  - systemctl enable qemu-guest-agent
  - systemctl start qemu-guest-agent
  - echo "done" > /tmp/cloud-config.done
final_message: "The system is finally up, after $UPTIME seconds"
ssh_pwauth: false
disable_root: true
preserve_hostname: true
